.item {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #291346;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  position: relative;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.7s ease-out;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
}
.item p {
  font-size: 13px;
  font-weight: 300;
}

.image {
  flex-basis: 20%;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.image img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 3px;
}

.text__area {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
}

.text__area h2 {
  margin: -0.3rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.acct-activities {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.stars,
.issues {
  border: 3px dashed rgb(153, 103, 103);
  padding: 5px;
}

.acct-activities p {
  font-size: 11px;
}

@media (max-width: 576px) {
  .item {
    gap: 1rem;
    max-height: 150px;
    padding: 15px;
  }
  .text__area p {
    font-size: 10px;
    margin: 0;
    margin-bottom: 10px;
  }

  .text__area h2 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .stars p,
  .issues p {
    font-size: 8px;
  }
  .stars,
  .issues {
    padding: 0;
    border: none;
    /* flex-basis: 30%; */
  }
}
